<a href="https://colab.research.google.com/github/1fac/mi_proyecto_git_61680/blob/main/Mi_proyecto_61680.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Presentación del proyecto

Este proyecto utiliza técnicas de machine learning para analizar patrones en la facturación y detectar oportunidades de mejora en los beneficios operativos. El enfoque principal es evaluar las diferencias entre la facturación dirigida a sociedades relacionadas y a clientes externos, identificando posibles estrategias para maximizar la rentabilidad. A través de un modelo predictivo, se pretende priorizar la facturación a sociedades externas al grupo, siempre que estas representen una oportunidad financiera más rentable. Los datos analizados incluyen transacciones de sociedades ubicadas en América Latina e Italia. Los resultados esperados incluyen la identificación de nuevos mercados más rentables y un impacto positivo en la estructura operativa.

La motivación de este proyecto radica en la necesidad de optimizar los beneficios operativos y explorar nuevas oportunidades comerciales más rentables fuera del grupo empresarial. Profesionalmente, este trabajo representa una oportunidad clave para destacar en mi rol como asesor financiero, aportando valor estratégico a la organización y fortaleciendo mi desarrollo personal y prestigio dentro de la empresa.


El análisis está dirigido a la dirección y líderes estratégicos de la compañía interesados en optimizar la rentabilidad operativa. También será relevante para equipos de finanzas y planeamiento, dado que el proyecto proporcionará herramientas prácticas para orientar decisiones comerciales basadas en datos.

Conclusión y relevancia

El proyecto busca redefinir la estrategia de facturación al priorizar mercados externos más rentables, lo cual no solo incrementará los beneficios operativos, sino que también diversificará las fuentes de ingreso. La aplicación de machine learning asegura decisiones basadas en datos concretos, maximizando el retorno de inversión y mejorando la eficiencia en la asignación de recursos. Este enfoque representa un cambio estratégico que podría sentar las bases para un crecimiento sostenido en nuevos mercados clave.

En el negocio de ingeniería y construcción, gran parte de la facturación actual se realiza hacia sociedades relacionadas dentro del grupo. Si bien estas transacciones son importantes, podrían estar limitando el potencial de crecimiento de los beneficios operativos. Este proyecto busca evaluar si enfocar una mayor proporción de la facturación hacia sociedades externas al grupo podría generar mejores resultados financieros.

El análisis se centrará exclusivamente en los datos de facturación, sin considerar costos, para identificar patrones y tendencias que ayuden a determinar qué tipo de clientes o mercados generan mayores ingresos. Con el uso de machine learning, se procesará la información histórica de facturación para comparar los ingresos provenientes de sociedades relacionadas frente a los de clientes externos.

El objetivo es sacar conclusiones basadas en datos sobre qué mercados o tipos de clientes ofrecen mejores oportunidades de rentabilidad, especialmente en regiones clave como América Latina e Italia. Esto permitirá a la dirección evaluar opciones para diversificar los ingresos y maximizar los beneficios operativos sin comprometer la estabilidad actual del negocio.

# Presentación ejecutiva

# Lectura de datos

Importo las librerías a utilizar para la lectura, limpieza y procesamiento de datos

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import chardet
import shutil
import requests
from io import StringIO
import locale
import datetime as dt
from datetime import datetime as dt_dt
pd.set_option('display.max_columns', 30)
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.6.0)
Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Downloading scikit_learn-1.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 46.3 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.0
    Uninstalling scikit-learn-1.6.0:
      Successfully uninstalled scikit-learn-1.6.0
Successfully installed scikit-learn-1.6.1

##En este punto accedo a bases relacionales desde Pandas.

Cómo primer punto estoy configurando mí usuario.

In [3]:
!git config --global user.name "1fac"
!git config --global user.email "facundoseoane@hotmail.com"

Acá estoy clonando la carpeta desde dónde extraígo los datos.

In [40]:
!git clone https://github.com/1fac/mi_proyecto_git_61680.git

fatal: destination path 'mi_proyecto_git_61680' already exists and is not an empty directory.

Hago una lectura de los archivos que tengo en la carpeta de trabajo.

In [41]:
!ls mi_proyecto_git_61680

'CLASE DOCUMENTOS.csv'	'df Fac2.csv'  'df Fac4.csv'		  README.md
'df Fac1.csv'		'df Fac3.csv'   Mi_proyecto_61680.ipynb   Sociedades.csv

Hago una lectura previa para determinar la codificación de los datos

In [6]:
with open("mi_proyecto_git_61680/df Fac3.csv", "rb") as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

Realizo una lectura previa de uno de los archivos

In [7]:
with open("mi_proyecto_git_61680/df Fac1.csv", "r", encoding="UTF-8-SIG") as file:
    for i in range(5):
        print(file.readline())

St;Soc.;Div.;Cliente;SocGLA;Nombre Clie;Clase;Referencia;Nº doc.;CPag;Texto;Usuario;Doc.comp.;Ref.fact.;Año;Ejerc./mes;Período;Fecha doc.;Fe.contab.;Importe en MD;Mon.;Tp.camb.ef.;Importe en ML;ML;Impte.valor.ML2;Venc.neto;Demora;Compens.;Soc. Relacionada

@5B\Qcompens.@;01CA;KZ38;227;S00133;INGENIERIA CHILE S.A.;DZ;;12000011;FF15;;TEAIRL;12000011;12000011;2010;2010/05;05;30/11/2010;30/11/2010;582.187,00;CAD;1,00000;582.187,00;CAD;547.065,59;30/11/2010;0;30/11/2010;Si

@5B\Qcompens.@;01CA;KZ38;227;S00133;INGENIERIA CHILE S.A.;DZ;;12000012;INME;;TEAIRL;12000014;12000012;2010;2010/05;05;30/11/2010;30/11/2010;-547.065,59;USD;1,06420;-582.187,00;CAD;-547.065,59;30/11/2010;29;29/12/2010;Si

@5B\Qcompens.@;01CA;KZ38;227;S00133;INGENIERIA CHILE S.A.;DZ;;12000014;;;TEAIRL;12000014;12000014;2010;2010/06;06;29/12/2010;29/12/2010;-415.303,68;USD;1,02713;-426.568,91;CAD;-415.303,68;29/12/2010;0;29/12/2010;Si

@5B\Qcompens.@;01CA;KZ38;227;S00133;INGENIERIA CHILE S.A.;DZ;;12000020;;;TEAIRL;12000020;12000020;2010;2010/11;11;18/05/2011;18/05/2011;-202.596,03;USD;0,99923;-202.440,95;CAD;-202.596,03;18/05/2011;0;18/05/2011;Si

Importo los 4 archivos de datos que confecciona la base total a analizar desde Github y armo un solo Dataset

In [8]:
# URLs de los archivos en GitHub
urls = [
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac1.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac2.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac3.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac4.csv",
]

# Lista para almacenar los DataFrames
dataframes = []

# Descargar y cargar cada archivo en un DataFrame
for url in urls:
    response = requests.get(url)
    if response.status_code == 200:
        csv_data = StringIO(response.text)
        df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG", low_memory=False)
        dataframes.append(df)
    else:
        print(f"Error al descargar el archivo: {url}")

# Combinar todos los DataFrames en uno solo
df_comp_orig = pd.concat(dataframes, ignore_index=True)

# Mostrar las primeras filas del dataset combinado
print(df_comp_orig.head(5))
print(f"Total de filas combinadas: {len(df_comp_orig)}")

               St  Soc.  Div.  Cliente  SocGLA            Nombre Clie Clase  \
0  @5B\Qcompens.@  01CA  KZ38      227  S00133  INGENIERIA CHILE S.A.    DZ
1  @5B\Qcompens.@  01CA  KZ38      227  S00133  INGENIERIA CHILE S.A.    DZ
2  @5B\Qcompens.@  01CA  KZ38      227  S00133  INGENIERIA CHILE S.A.    DZ
3  @5B\Qcompens.@  01CA  KZ38      227  S00133  INGENIERIA CHILE S.A.    DZ
4  @5B\Qcompens.@  01CA  KZ38      227  S00133  INGENIERIA CHILE S.A.    DZ

  Referencia   Nº doc.  CPag Texto Usuario   Doc.comp. Ref.fact.   Año  \
0        NaN  12000011  FF15   NaN  TEAIRL  12000011.0  12000011  2010
1        NaN  12000012  INME   NaN  TEAIRL  12000014.0  12000012  2010
2        NaN  12000014   NaN   NaN  TEAIRL  12000014.0  12000014  2010
3        NaN  12000020   NaN   NaN  TEAIRL  12000020.0  12000020  2010
4        NaN  12000027   NaN   NaN  TEAIRL  12000027.0  12000027  2009

  Ejerc./mes  Período  Fecha doc.  Fe.contab. Importe en MD Mon. Tp.camb.ef.  \
0    2010/05        5  30/11/2010  30/11/2010    582.187,00  CAD     1,00000
1    2010/05        5  30/11/2010  30/11/2010   -547.065,59  USD     1,06420
2    2010/06        6  29/12/2010  29/12/2010   -415.303,68  USD     1,02713
3    2010/11       11  18/05/2011  18/05/2011   -202.596,03  USD     0,99923
4    2009/12       12  07/06/2010  07/06/2010    -15.992,47  USD     1,06300

  Importe en ML   ML Impte.valor.ML2   Venc.neto  Demora    Compens.  \
0    582.187,00  CAD      547.065,59  30/11/2010     0.0  30/11/2010
1   -582.187,00  CAD     -547.065,59  30/11/2010    29.0  29/12/2010
2   -426.568,91  CAD     -415.303,68  29/12/2010     0.0  29/12/2010
3   -202.440,95  CAD     -202.596,03  18/05/2011     0.0  18/05/2011
4    -17.000,00  CAD      -16.141,50  07/06/2010     0.0  07/06/2010

  Soc. Relacionada
0               Si
1               Si
2               Si
3               Si
4               Si
Total de filas combinadas: 323063

Guardo como CSV el dataset confeccionado.

In [9]:
df_comp_orig.to_csv("df_comp_orig.csv", index=False, sep=";", encoding="UTF-8-SIG")

Muevo el archivo al repositorio de Github clonado.

In [10]:
!mv ../df_comp_orig.csv .

mv: cannot stat '../df_comp_orig.csv': No such file or directory

# Data Wranglimg - Limpieza y transformación de datos

Realizo una consulta de las columnas que tiene y confecciono un diccionario para entender los datos a analizar.

In [11]:
df_comp_orig.columns

Index(['St', 'Soc.', 'Div.', 'Cliente', 'SocGLA', 'Nombre Clie', 'Clase',
       'Referencia', 'Nº doc.', 'CPag', 'Texto', 'Usuario', 'Doc.comp.',
       'Ref.fact.', 'Año', 'Ejerc./mes', 'Período', 'Fecha doc.', 'Fe.contab.',
       'Importe en MD', 'Mon.', 'Tp.camb.ef.', 'Importe en ML', 'ML',
       'Impte.valor.ML2', 'Venc.neto', 'Demora', 'Compens.',
       'Soc. Relacionada'],
      dtype='object')

###Diccionario del Dataset

St: Estado del Documento (No relevante)

Soc.: Sociedad Emisora

Div.: Nomenclador de proyecto por sociedad

Cliente: N° de Cliente

SocGLA: Código de sociedad relacionada

Nombre Clientes: Nombre de cliente

Clase: Nomenclador del tipo de comprobante emitido

Referencia: Número de documento

Nº doc.: Número de documento interno

CPago: Condición de Pago

Texto: Texto de referencia (No relevante)

Usuario: Usuario que registro al sistema

Doc.comp.: Documento interno que referencia operaciones

Ref.fact.: Número de documento interno o asociación a documentos (No relevante)

Año: Año de ejercicio

Ejerc./mes: Año y mes de ejercicio

Período: Período de ejercicio

Fecha doc.: Fecha de documento

Fe. Contab.: Fecha de contabilizacion

Importe en MD: Importe en moneda de documento

Mon.: Moneda de documento

Tp.camb.ef.: Tipo de cambios de moneda extranjera con respecto a moneda local

Importe en ML: Importe en moneda local

ML: Moneda local

Impte.valor.ML2: Importe homogeneizado en USD

Venc.neto: Vencimiento del pago

Demora: Días de vencimiento

Soc. Relacionada: La sociedad es relacionada o no

Identificar valores nulos

In [12]:
df_comp_orig.isnull().sum()

St                       0
Soc.                     0
Div.                     0
Cliente                  0
SocGLA              177565
Nombre Clie              0
Clase                    0
Referencia           21368
Nº doc.                  0
CPag                 90526
Texto                47216
Usuario                  0
Doc.comp.             2357
Ref.fact.                0
Año                      0
Ejerc./mes               0
Período                  0
Fecha doc.               0
Fe.contab.               0
Importe en MD            0
Mon.                     0
Tp.camb.ef.            440
Importe en ML            0
ML                       0
Impte.valor.ML2          0
Venc.neto                0
Demora                   0
Compens.              2357
Soc. Relacionada         0
dtype: int64

Según se observa, hay filas completas que tienen datos irrelevantes, y apuntan a ser 10.161 registros.

Elimino las columnas que no me parecen relevantes a priori

In [13]:
dropna_columns =['St', 'Texto', 'Ref.fact.']
df_comp_orig.drop(columns=dropna_columns, inplace=True)

In [14]:
df_comp_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323063 entries, 0 to 323062
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Soc.              323063 non-null  object
 1   Div.              323063 non-null  object
 2   Cliente           323063 non-null  int64
 3   SocGLA            145498 non-null  object
 4   Nombre Clie       323063 non-null  object
 5   Clase             323063 non-null  object
 6   Referencia        301695 non-null  object
 7   Nº doc.           323063 non-null  int64
 8   CPag              232537 non-null  object
 9   Usuario           323063 non-null  object
 10  Doc.comp.         320706 non-null  float64
 11  Año               323063 non-null  int64
 12  Ejerc./mes        323063 non-null  object
 13  Período           323063 non-null  int64
 14  Fecha doc.        323063 non-null  object
 15  Fe.contab.        323063 non-null  object
 16  Importe en MD     323063 non-null  object
 17  Mon.              323063 non-null  object
 18  Tp.camb.ef.       322623 non-null  object
 19  Importe en ML     323063 non-null  object
 20  ML                323063 non-null  object
 21  Impte.valor.ML2   323063 non-null  object
 22  Venc.neto         323063 non-null  object
 23  Demora            323063 non-null  float64
 24  Compens.          320706 non-null  object
 25  Soc. Relacionada  323063 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 64.1+ MB

Tomo una muestra aleatoria de 10 filas

In [15]:
df_comp_orig.sample(10)

,Soc.,Div.,Cliente,SocGLA,Nombre Clie,Clase,Referencia,Nº doc.,CPag,Usuario,Doc.comp.,Año,Ejerc./mes,Período,Fecha doc.,Fe.contab.,Importe en MD,Mon.,Tp.camb.ef.,Importe en ML,ML,Impte.valor.ML2,Venc.neto,Demora,Compens.,Soc. Relacionada
255046,EC14,0500,7362,NaN,SHAYA ECUADOR SA,DB,001001000005789,11007502,FF03,TCUMHJ,1.200028e+07,2020,2020/03,3,15/09/2020,15/09/2020,"12.068,00",USD,"1,00000","12.068,00",USD,"12.068,00",18/09/2020,9.0,27/09/2020,No
151048,01MX,M357,8058,NaN,GREENFIELD SPV I,DB,A-00005866,11000737,RF15,TMXHNZ,1.200013e+07,2018,2018/12,12,13/06/2019,13/06/2019,"56.946,65",MXN,"1,00000","56.946,65",MXN,"2.978,31",28/06/2019,175.0,20/12/2019,No
4409,01MX,MG61,4044,S00871,"Techenergy Services, S.A. de C.V.",DZ,BANC1MXN6719256,12000230,NaN,TMXHNZ,1.200023e+07,2018,2018/11,11,20/05/2019,20/05/2019,"-580,00",USD,"18,84800","-10.931,84",MXN,"-580,00",20/05/2019,0.0,20/05/2019,Si
149098,01MX,MZ61,3666,NaN,Rodríguez Castillo Pedro,DR,13488,11000063,INME,TMXOEO,1.200004e+07,2010,2010/02,2,26/08/2010,26/08/2010,"24.000,00",MXN,"1,00000","24.000,00",MXN,"1.855,29",26/08/2010,5.0,31/08/2010,No
26670,AR02,0050,104,S00040,TERNIUM ARGENTINA S.A.,DZ,COMPENS. SIDERAR,12001289,FF07,TEAGAZ,1.200129e+07,2014,2014/11,11,07/05/2015,07/05/2015,"27.327.786,56",ARS,"1,00000","27.327.786,56",ARS,"3.063.444,87",07/05/2015,1.0,08/05/2015,Si
313450,AR33,Z180,100,NaN,TELECOM ARGENTINA S.A.,DB,0022A00003753,11000544,FF30,TSRAIS,1.200027e+07,2017,2017/06,6,18/12/2017,18/12/2017,"65.397,72",ARS,"1,00000","65.397,72",ARS,"3.734,22",17/01/2018,1.0,18/01/2018,No
294419,01SV,M335,2253,NaN,EMPRESA PROPIETARIA DE LA RED -EPR,DR,00017,11000003,RF30,TMXRVV,1.200000e+07,2008,2008/04,4,10/10/2008,24/10/2008,"1.205.669,76",USD,"1,00000","1.205.669,76",USD,"1.205.669,76",23/11/2008,2.0,25/11/2008,No
311437,AR16,Z226,2401,NaN,CABLEVISION SOCIEDAD ANONIMA,DR,0001A00014881,11000843,FF30,TSRAUX,1.200062e+07,2011,2011/11,11,18/05/2012,18/05/2012,"1.809,59",ARS,"1,00000","1.809,59",ARS,"408,42",17/06/2012,8.0,25/06/2012,No
237848,BS02,TEPA,366,S00131,INGENIERIA CIA TECNICA INT. S.A.C.I,DR,00001204,11000073,FF30,TURPER,1.200008e+07,2009,2009/05,5,24/11/2009,24/11/2009,"40.890,00",USD,"1,00000","40.890,00",USD,"40.890,00",24/12/2009,82.0,16/03/2010,Si
35830,AR02,CO01,378,NaN,Deudor por Cobranzas varias Sta Mar,TJ,NaN,1117000278,INME,TEANNI,1.117000e+09,2012,2012/04,4,12/10/2012,12/10/2012,"271.734,74",USD,"4,70000","1.277.153,28",ARS,"271.734,74",12/10/2012,0.0,12/10/2012,No

Cómo los números de documentos se repiten por sociedad y por año contable, genero un índice unico con los campos Año, Soc. y N° doc.

In [18]:
# Crear el índice concatenando 'Año', 'Soc.' y 'Nº doc.'
df_comp_orig['indice'] = df_comp_orig['Año'].astype(str) + '_' + df_comp_orig['Soc.'].astype(str) + '_' + df_comp_orig['Nº doc.'].astype(str)

# Establecer el nuevo índice
df_comp_orig = df_comp_orig.set_index('indice')

# Mostrar las primeras filas del DataFrame con el nuevo índice
df_comp_orig.head()

,Soc.,Div.,Cliente,SocGLA,Nombre Clie,Clase,Referencia,Nº doc.,CPag,Usuario,Doc.comp.,Año,Ejerc./mes,Período,Fecha doc.,Fe.contab.,Importe en MD,Mon.,Tp.camb.ef.,Importe en ML,ML,Impte.valor.ML2,Venc.neto,Demora,Compens.,Soc. Relacionada
indice,,,,,,,,,,,,,,,,,,,,,,,,,,
2010_01CA_12000011,01CA,KZ38,227,S00133,INGENIERIA CHILE S.A.,DZ,NaN,12000011,FF15,TEAIRL,12000011.0,2010,2010/05,5,30/11/2010,30/11/2010,"582.187,00",CAD,"1,00000","582.187,00",CAD,"547.065,59",30/11/2010,0.0,30/11/2010,Si
2010_01CA_12000012,01CA,KZ38,227,S00133,INGENIERIA CHILE S.A.,DZ,NaN,12000012,INME,TEAIRL,12000014.0,2010,2010/05,5,30/11/2010,30/11/2010,"-547.065,59",USD,"1,06420","-582.187,00",CAD,"-547.065,59",30/11/2010,29.0,29/12/2010,Si
2010_01CA_12000014,01CA,KZ38,227,S00133,INGENIERIA CHILE S.A.,DZ,NaN,12000014,NaN,TEAIRL,12000014.0,2010,2010/06,6,29/12/2010,29/12/2010,"-415.303,68",USD,"1,02713","-426.568,91",CAD,"-415.303,68",29/12/2010,0.0,29/12/2010,Si
2010_01CA_12000020,01CA,KZ38,227,S00133,INGENIERIA CHILE S.A.,DZ,NaN,12000020,NaN,TEAIRL,12000020.0,2010,2010/11,11,18/05/2011,18/05/2011,"-202.596,03",USD,"0,99923","-202.440,95",CAD,"-202.596,03",18/05/2011,0.0,18/05/2011,Si
2009_01CA_12000027,01CA,KZ38,227,S00133,INGENIERIA CHILE S.A.,DZ,NaN,12000027,NaN,TEAIRL,12000027.0,2009,2009/12,12,07/06/2010,07/06/2010,"-15.992,47",USD,"1,06300","-17.000,00",CAD,"-16.141,50",07/06/2010,0.0,07/06/2010,Si

Traigo la referencia de las clases de documentos para entender a que corresponde cada clase para solo quedarme con la facturación

In [42]:
df_clase_doc = pd.read_csv('/content/mi_proyecto_git_61680/CLASE DOCUMENTOS.csv', sep=';') # Muestra las primeras filas del DataFrame df.head()
df_clase_doc

    CLASE      DENOMINACIÓN SAP                DENOMINACIÓN FACTURACIÓN
0      AA    Contab.activo fijo              Sin Clasificar          NO
1      AB  Documento Compensaci  Compensación de Documentos          NO
2      AC       Contab. Baja AA              Sin Clasificar          NO
3      AF        Contabiliz.Amo              Sin Clasificar          NO
4      AG  Ajustes Gest Equipos              Sin Clasificar          NO
..    ...                   ...                         ...         ...
230    ZP        Contabil.pagos              Sin Clasificar          NO
231    ZR  Reconciliación banco              Sin Clasificar          NO
232    ZS  Pago mediante cheque              Sin Clasificar          NO
233    ZV    Compensación pagos              Sin Clasificar          NO
234    ZZ   Balance de aper(St)              Sin Clasificar          NO

[235 rows x 4 columns]

In [39]:
# Suponiendo que las columnas comunes para hacer el merge son 'ID'
df_comp_orig = df_comp_orig.merge(df_clase_doc[['Clase','DENOMINACIÓN SAP', 'FACTURACIÓN']], on='Clase', how='left')
 # Mostrar las primeras filas del DataFrame actualizado
df_comp_orig.head()

KeyError: "['Clase'] not in index"

Observo valores Nan

Le doy formato a algunos campos objects

In [ ]:
df_comp_orig['Período'] = pd.to_numeric(df_comp_orig['Período'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['Año'] = pd.to_numeric(df_comp_orig['Año'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['Demora'] = pd.to_numeric(df_comp_orig['Demora'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['SocGLA'] = df_comp_orig['SocGLA'].astype('string')

In [ ]:
df_comp_orig['Referencia'] = df_comp_orig['Referencia'].astype('string')

In [ ]:
df_comp_orig['Nº doc.'] = pd.to_numeric(df_comp_orig['Nº doc.'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['Doc.comp.'] = pd.to_numeric(df_comp_orig['Doc.comp.'], errors='coerce').fillna(0).astype(int)

In [19]:
df_comp_orig.info()

<class 'pandas.core.frame.DataFrame'>
Index: 323063 entries, 2010_01CA_12000011 to 2022_UY11_11000026
Data columns (total 26 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Soc.              323063 non-null  object
 1   Div.              323063 non-null  object
 2   Cliente           323063 non-null  int64
 3   SocGLA            145498 non-null  object
 4   Nombre Clie       323063 non-null  object
 5   Clase             323063 non-null  object
 6   Referencia        301695 non-null  object
 7   Nº doc.           323063 non-null  int64
 8   CPag              232537 non-null  object
 9   Usuario           323063 non-null  object
 10  Doc.comp.         320706 non-null  float64
 11  Año               323063 non-null  int64
 12  Ejerc./mes        323063 non-null  object
 13  Período           323063 non-null  int64
 14  Fecha doc.        323063 non-null  object
 15  Fe.contab.        323063 non-null  object
 16  Importe en MD     323063 non-null  object
 17  Mon.              323063 non-null  object
 18  Tp.camb.ef.       322623 non-null  object
 19  Importe en ML     323063 non-null  object
 20  ML                323063 non-null  object
 21  Impte.valor.ML2   323063 non-null  object
 22  Venc.neto         323063 non-null  object
 23  Demora            323063 non-null  float64
 24  Compens.          320706 non-null  object
 25  Soc. Relacionada  323063 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 66.5+ MB

# Análisis Exploratorio de datos

In [ ]:
df_comp_orig.sample(10)

,Soc.,Div.,Cliente,SocGLA,Nombre Clientes,Clase,Referencia,Nº doc.,Texto,Usuario,Doc.comp.,Ref.fact.,Año,Ejerc./mes,Período,Fecha doc.,Importe en MD,Mon.,Tp.camb.ef.,Importe en ML,ML,Demora,Compens.,Importe en ML2,ML2,Fecha pago,Registrado,Soc. Relacionada
130644,BR10,0356,3947,<NA>,PETROLEO BRASILEIRO S A PETROBRAS,DR,000001210-1,11000576,COD: 003947 PETROLEO BRASILEIRO REF: 0090038210,TBRJVF,12000593,11000576,2011,2011/11,11,09/05/2012,"46.948,00",BRL,1,"46.948,00",BRL,0,08/06/2012,"24.242,54",USD,08/06/2012,09/05/2012,No
192748,02MX,M346,278,S00129,Ingenieria y Construcción DE,DB,A-00000430,11000034,Servicios de personal Ajuste Feb.15,TMXOEO,12000042,11000034,2014,2014/09,9,25/03/2015,"55.519,73",MXN,1,"55.519,73",MXN,-4,20/04/2015,"3.710,39",USD,24/04/2015,25/03/2015,Si
170667,BR03,0230,27,<NA>,Ingenieria y Construcción S/A,XD,<NA>,90000026,VENDA DE CHAPAS,TBRELA,90000026,90000026,2006,2006/06,6,29/12/2006,"-14.820,00",BRL,1,"-14.820,00",BRL,0,29/12/2006,"-6.931,76",USD,29/12/2006,06/02/2007,No
94240,BR03,0290,1766,<NA>,PETROLEO BRASILEIRO S A PETROBRAS,DR,002049-1,11000830,COD: 001766 PETROLEO BRAS. S/A - REF: 00000000000,TBRMRL,12000408,11000830,2009,2009/06,6,22/12/2009,"37.313,95",BRL,1,"37.313,95",BRL,-21,31/12/2009,"20.978,21",USD,21/01/2010,22/12/2009,No
83793,AR32,0420,1689,<NA>,ENERGÍA ARGENTINA S.A,DZ,<NA>,12000006,Cobranza Factura 4,TEAUSS,12000006,12000006,2014,2014/09,9,06/03/2015,"-8.540.357,67",ARS,1,"-8.540.357,67",ARS,1,07/03/2015,"-986.411,31",USD,06/03/2015,05/04/2015,No
51395,AR02,GG00,7916,S02008,SOCIEDAD ANONIMA DE MANDATOS Y,DZ,FC 6879,12000115,NaN,DGO,12000115,12000115,2019,2019/01,1,22/07/2019,"-46.863,14",ARS,1,"-46.863,14",ARS,0,22/07/2019,"-1.082,07",USD,22/07/2019,25/07/2019,Si
43988,AR02,CO01,378,<NA>,Deudor por Cobranzas varias Sta Mar,TJ,<NA>,1117000653,0021/-DEUDORES VARIOS,TEANNI,1117000668,1117000653,2012,2012/09,9,05/03/2013,"103.890,28",USD,"5,034","522.983,67",ARS,0,05/03/2013,"103.890,28",USD,05/03/2013,13/03/2013,No
107324,BR05,0250,1445,<NA>,PETROLEO BRASILEIRO S A PETROBRAS,DR,002433-1,11000013,COD: 001445 PETRÓLEO BRASILEIRO REF: 000000000000,TBRZCB,12000008,11000013,2009,2009/01,1,07/07/2009,"2.794.026,22",BRL,1,"2.794.026,22",BRL,1,27/07/2009,"1.434.760,40",USD,26/07/2009,06/07/2009,No
71555,AR13,0431,7819,<NA>,ENAEX ARGENTINA S.R.L,DZ,<NA>,12000038,NaN,TEADLB,12000038,12000038,2017,2017/03,3,31/03/2017,0,ARS,1,"441,02",ARS,0,31/03/2017,0,USD,31/03/2017,06/04/2017,No
130750,BR10,0356,3947,<NA>,PETROLEO BRASILEIRO S A PETROBRAS,DR,000003185-1,11000628,COD: 003947 PETROLEO BRASILEIRO REF: 0090064733,TBRZCB,12000041,11000628,2012,2012/11,11,28/05/2013,"4.592,46",BRL,1,"4.592,46",BRL,12,09/07/2013,"2.237,26",USD,27/06/2013,28/05/2013,No

# Preprocesamiento de datos

# Feature Selection

# Modelos

# Optimización de modelos

# Conclusiones Finales

In [ ]:
# prompt: quiero armar una tabla para ver la SocGLA de cada cliente

# ... (Your existing code)

# Assuming 'df_comp_orig' is your combined DataFrame

# Create the table for SocGLA by client
socgla_table = df_comp_orig.groupby('Cliente')['SocGLA'].unique().reset_index()

# Display the table
socgla_table

# ... (Rest of your code)

     Cliente  SocGLA
0        100  [<NA>]
1      10001  [<NA>]
2      10002  [<NA>]
3      10003  [<NA>]
4      10004  [<NA>]
...      ...     ...
8001   LUY04  [<NA>]
8002   LUY05  [<NA>]
8003   LUY07  [<NA>]
8004   LVE03  [<NA>]
8005   LVE04  [<NA>]

[8006 rows x 2 columns]

In [ ]:
socgla_table = df_comp_orig.groupby('SocGLA')['Cliente'].unique().reset_index()

In [ ]:
socgla_table

     SocGLA                   Cliente
0    B1189F  [7501, 6118, 6145, 6131]
1    B1189U        [6118, 6245, 6131]
2    B459BE  [7646, 6300, 7428, 6838]
3    B459EG        [5841, 7416, 8000]
4    B459FR        [6296, 6299, 6747]
..      ...                       ...
273  Z01009        [1228, 4915, 6139]
274  Z01011                    [6033]
275  Z01018                    [6037]
276  Z01023                    [6091]
277  Z01028                    [6034]

[278 rows x 2 columns]

In [ ]:
# prompt: necesito resolver la lectura de esos datos Nan

# ... (Your existing code)

# Assuming 'df_comp_orig' is your combined DataFrame

# Identify and handle NaN values in relevant columns
for col in ['SocGLA', 'Cliente', 'Nombre Clientes', 'Referencia', 'Nº doc.', 'Doc.comp.', 'Año', 'Ejerc./mes', 'Período', 'Fecha doc.', 'Importe en MD', 'Mon.', 'Tp.camb.ef.', 'Importe en ML', 'ML', 'Demora', 'Compens.', 'Importe en ML2', 'ML2', 'Fecha pago', 'Registrado', 'Soc. Relacionada']:
    if df_comp_orig[col].isnull().any():
        print(f"Column '{col}' has NaN values.")

        # Decide on a strategy for handling NaN values:
        # 1. Imputation (replace with a value like mean/median/mode)
        if pd.api.types.is_numeric_dtype(df_comp_orig[col]):
            df_comp_orig[col] = df_comp_orig[col].fillna(df_comp_orig[col].median())  # Example: Fill with median
        elif pd.api.types.is_object_dtype(df_comp_orig[col]):
            df_comp_orig[col] = df_comp_orig[col].fillna("Unknown") # Example: Fill with string
        # 2. Removal of rows with NaN values (use with caution)
        # df_comp_orig.dropna(subset=[col], inplace=True)
        # 3. Forward or backward fill (propagate last valid observation forward)
        # df_comp_orig[col] = df_comp_orig[col].fillna(method='ffill')

# Recheck for NaN values after handling them
print(df_comp_orig.isnull().sum())

# Create the table for SocGLA by client
socgla_table = df_comp_orig.groupby('Cliente')['SocGLA'].unique().reset_index()

# Display the table
print(socgla_table)

socgla_table = df_comp_orig.groupby('SocGLA')['Cliente'].unique().reset_index()
socgla_table

Column 'SocGLA' has NaN values.
Column 'Cliente' has NaN values.
Column 'Nombre Clientes' has NaN values.
Column 'Referencia' has NaN values.
Column 'Ejerc./mes' has NaN values.
Column 'Fecha doc.' has NaN values.
Column 'Importe en MD' has NaN values.
Column 'Mon.' has NaN values.
Column 'Tp.camb.ef.' has NaN values.
Column 'Importe en ML' has NaN values.
Column 'ML' has NaN values.
Column 'Compens.' has NaN values.
Column 'Importe en ML2' has NaN values.
Column 'ML2' has NaN values.
Column 'Fecha pago' has NaN values.
Column 'Registrado' has NaN values.
Column 'Soc. Relacionada' has NaN values.
Soc.                 10161
Div.                 10161
Cliente                  0
SocGLA              258274
Nombre Clientes          0
Clase                10161
Referencia           46113
Nº doc.                  0
Texto                87747
Usuario              10161
Doc.comp.                0
Ref.fact.            10161
Año                      0
Ejerc./mes               0
Período                  0
Fecha doc.               0
Importe en MD            0
Mon.                     0
Tp.camb.ef.              0
Importe en ML            0
ML                       0
Demora                   0
Compens.                 0
Importe en ML2           0
ML2                      0
Fecha pago               0
Registrado               0
Soc. Relacionada         0
dtype: int64
      Cliente  SocGLA
0         100  [<NA>]
1       10001  [<NA>]
2       10002  [<NA>]
3       10003  [<NA>]
4       10004  [<NA>]
...       ...     ...
8002    LUY05  [<NA>]
8003    LUY07  [<NA>]
8004    LVE03  [<NA>]
8005    LVE04  [<NA>]
8006  Unknown  [<NA>]

[8007 rows x 2 columns]

     SocGLA                   Cliente
0    B1189F  [7501, 6118, 6145, 6131]
1    B1189U        [6118, 6245, 6131]
2    B459BE  [7646, 6300, 7428, 6838]
3    B459EG        [5841, 7416, 8000]
4    B459FR        [6296, 6299, 6747]
..      ...                       ...
273  Z01009        [1228, 4915, 6139]
274  Z01011                    [6033]
275  Z01018                    [6037]
276  Z01023                    [6091]
277  Z01028                    [6034]

[278 rows x 2 columns]