<a href="https://colab.research.google.com/github/1fac/mi_proyecto_git_61680/blob/main/Mi_proyecto_61680.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Presentación del proyecto

Este proyecto utiliza técnicas de machine learning para analizar patrones en la facturación y detectar oportunidades de mejora en los beneficios operativos. El enfoque principal es evaluar las diferencias entre la facturación dirigida a sociedades relacionadas y a clientes externos, identificando posibles estrategias para maximizar la rentabilidad. A través de un modelo predictivo, se pretende priorizar la facturación a sociedades externas al grupo, siempre que estas representen una oportunidad financiera más rentable. Los datos analizados incluyen transacciones de sociedades ubicadas en América Latina e Italia. Los resultados esperados incluyen la identificación de nuevos mercados más rentables y un impacto positivo en la estructura operativa.

La motivación de este proyecto radica en la necesidad de optimizar los beneficios operativos y explorar nuevas oportunidades comerciales más rentables fuera del grupo empresarial. Profesionalmente, este trabajo representa una oportunidad clave para destacar en mi rol como asesor financiero, aportando valor estratégico a la organización y fortaleciendo mi desarrollo personal y prestigio dentro de la empresa.


El análisis está dirigido a la dirección y líderes estratégicos de la compañía interesados en optimizar la rentabilidad operativa. También será relevante para equipos de finanzas y planeamiento, dado que el proyecto proporcionará herramientas prácticas para orientar decisiones comerciales basadas en datos.

Conclusión y relevancia

El proyecto busca redefinir la estrategia de facturación al priorizar mercados externos más rentables, lo cual no solo incrementará los beneficios operativos, sino que también diversificará las fuentes de ingreso. La aplicación de machine learning asegura decisiones basadas en datos concretos, maximizando el retorno de inversión y mejorando la eficiencia en la asignación de recursos. Este enfoque representa un cambio estratégico que podría sentar las bases para un crecimiento sostenido en nuevos mercados clave.

En el negocio de ingeniería y construcción, gran parte de la facturación actual se realiza hacia sociedades relacionadas dentro del grupo. Si bien estas transacciones son importantes, podrían estar limitando el potencial de crecimiento de los beneficios operativos. Este proyecto busca evaluar si enfocar una mayor proporción de la facturación hacia sociedades externas al grupo podría generar mejores resultados financieros.

El análisis se centrará exclusivamente en los datos de facturación, sin considerar costos, para identificar patrones y tendencias que ayuden a determinar qué tipo de clientes o mercados generan mayores ingresos. Con el uso de machine learning, se procesará la información histórica de facturación para comparar los ingresos provenientes de sociedades relacionadas frente a los de clientes externos.

El objetivo es sacar conclusiones basadas en datos sobre qué mercados o tipos de clientes ofrecen mejores oportunidades de rentabilidad, especialmente en regiones clave como América Latina e Italia. Esto permitirá a la dirección evaluar opciones para diversificar los ingresos y maximizar los beneficios operativos sin comprometer la estabilidad actual del negocio.

# Presentación ejecutiva

# Lectura de datos

Importo las librerías a utilizar para la lectura, limpieza y procesamiento de datos

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import chardet
import shutil
import requests
from io import StringIO
import locale
import datetime as dt
from datetime import datetime as dt_dt
pd.set_option('display.max_columns', 30)
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

##En este punto accedo a bases relacionales desde Pandas.

Cómo primer punto estoy configurando mí usuario.

In [34]:
!git config --global user.name "1fac"
!git config --global user.email "facundoseoane@hotmail.com"

Acá estoy clonando la carpeta desde dónde extraígo los datos.

In [40]:
!git clone https://github.com/1fac/mi_proyecto_git_61680.git

Cloning into 'mi_proyecto_git_61680'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (76/76), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 76 (delta 35), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (76/76), 36.01 MiB | 2.73 MiB/s, done.
Resolving deltas: 100% (35/35), done.

Hago una lectura de los archivos que tengo en la carpeta de trabajo.

In [41]:
!ls mi_proyecto_git_61680

'clase doc.csv'  'df Fac2.csv'	'df Fac4.csv'  'df Fac6.csv'   README.md
'df Fac1.csv'	 'df Fac3.csv'	'df Fac5.csv'  'df Fac7.csv'   Sociedades.csv

Hago una lectura previa para determinar la codificación de los datos

In [42]:
with open("mi_proyecto_git_61680/df Fac7.csv", "rb") as f:
    result = chardet.detect(f.read())
    print(result)

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

Realizo una lectura previa de uno de los archivos

In [43]:
with open("mi_proyecto_git_61680/df Fac7.csv", "r", encoding="UTF-8-SIG") as file:
    for i in range(5):
        print(file.readline())

St;Soc.;Div.;Cliente;SocGLA;Nombre Clientes;Clase;Referencia;Nº doc.;Texto;Usuario;Doc.comp.;Ref.fact.;Año;Ejerc./mes;Cuenta;Período;Factura;Lib.mayor;Cta.CP;Venc.neto;Status;Distr;AC;Rg;Material;IR;Fecha doc.;Importe en MD;Mon.;Tp.camb.ef.;Importe en ML;ML;Impte.valor.ML2;Venc.neto;Demora;Compens.;Importe en ML2;ML2;ImpRetImp;ImpteExentRetImpto;Impte.base retenc.;Fe.valor;Fecha pago;MonPa;Importe en MP;Registrado;Soc. Relacionada

@5B\Qcompens.@;PE02;CE04;440;;G Y M ;DZ;COBRANZA GYM;12000031;;OCPPAF;12000031;12000031;2011;2011/02;440;02;;1114119001;440;;;;;;;;12/08/2011;31.715,48;USD;2,745;87.059,00;PEN;31.808,18;12/08/2011;0;12/08/2011;31.808,18;USD;0;0;0;;12/08/2011;;0;15/08/2011;No

@5B\Qcompens.@;PE02;CE04;440;;G Y M ;DZ;COBRANZA GYM;12000031;;OCPPAF;12000031;12000031;2011;2011/02;440;02;;1114119001;9110000006;;;;;;;;12/08/2011;-264.296,03;USD;2,745;-725.492,60;PEN;-264.296,03;12/08/2011;0;12/08/2011;-264.296,03;USD;0;0;0;;12/08/2011;;0;15/08/2011;No

@5B\Qcompens.@;PE02;0140;440;;G Y M ;DZ;;12000043;;TPEJED;12000043;12000043;2004;2004/11;440;11;;1114081001;9110000006;;;;;;;;16/05/2005;-13.985,76;USD;3,26148;-45.614,30;PEN;-13.985,76;16/05/2005;0;16/05/2005;-13.985,76;USD;0;0;0;;16/05/2005;;0;16/05/2005;No

@5B\Qcompens.@;PE02;0140;440;;G Y M ;DZ;;12000044;;TPEJED;12000044;12000044;2004;2004/11;440;11;;1114081001;9110000006;;;;;;;;17/05/2005;-6.220,28;USD;3,48401;-21.671,50;PEN;-6.220,28;17/05/2005;0;17/05/2005;-6.220,28;USD;0;0;0;;17/05/2005;;0;17/05/2005;No

Importo los 7 archivos de datos que confecciona la base total a analizar desde Github y armo un solo Dataset

In [44]:
# URLs de los archivos en GitHub
urls = [
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac1.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac2.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac3.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac4.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac5.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac6.csv",
    "https://raw.githubusercontent.com/1fac/mi_proyecto_git_61680/main/df%20Fac7.csv",
]

# Lista para almacenar los DataFrames
dataframes = []

# Descargar y cargar cada archivo en un DataFrame
for url in urls:
    response = requests.get(url)
    if response.status_code == 200:
        csv_data = StringIO(response.text)
        df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
        dataframes.append(df)
    else:
        print(f"Error al descargar el archivo: {url}")

# Combinar todos los DataFrames en uno solo
df_comp_orig = pd.concat(dataframes, ignore_index=True)

# Mostrar las primeras filas del dataset combinado
print(df_comp_orig.head(5))
print(f"Total de filas combinadas: {len(df_comp_orig)}")

<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (3,15,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (3,15,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (3,12,15,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (3,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (3,15,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,12,14,15,19,20,26,27,28,29,30,31,32,33,34,36,37,38,43,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")
<ipython-input-44-1324543ed4cd>:20: DtypeWarning: Columns (3,15,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_data, sep=";", encoding="UTF-8-SIG")

               St  Soc.  Div. Cliente  SocGLA  \
0  @5B\Qcompens.@  01CA  KZ38     227  S00133
1  @5B\Qcompens.@  01CA  KZ38     227  S00133
2  @5B\Qcompens.@  01CA  KZ38     227  S00133
3  @5B\Qcompens.@  01CA  KZ38     227  S00133
4  @5B\Qcompens.@  01CA  KZ38     227  S00133

                    Nombre Clientes Clase Referencia     Nº doc. Texto  ...  \
0  Ingenieria y Construcción CHILE     DZ        NaN  12000011.0   NaN  ...
1  Ingenieria y Construcción CHILE     DZ        NaN  12000012.0   NaN  ...
2  Ingenieria y Construcción CHILE     DZ        NaN  12000014.0   NaN  ...
3  Ingenieria y Construcción CHILE     DZ        NaN  12000020.0   NaN  ...
4  Ingenieria y Construcción CHILE     DZ        NaN  12000027.0   NaN  ...

   ML2  ImpRetImp ImpteExentRetImpto  Impte.base retenc. Fe.valor  Fecha pago  \
0  USD        0.0                0.0                 0.0      NaN  30/11/2010
1  USD        0.0                0.0                 0.0      NaN  30/11/2010
2  USD        0.0                0.0                 0.0      NaN  29/12/2010
3  USD        0.0                0.0                 0.0      NaN  18/05/2011
4  USD        0.0                0.0                 0.0      NaN  07/06/2010

   MonPa  Importe en MP  Registrado Soc. Relacionada
0    NaN            0.0  08/12/2010               Si
1    NaN            0.0  08/12/2010               Si
2    NaN            0.0  06/01/2011               Si
3    NaN            0.0  08/06/2011               Si
4    NaN            0.0  14/06/2010               Si

[5 rows x 48 columns]
Total de filas combinadas: 436866

Guardo como CSV el dataset confeccionado.

In [45]:
df_comp_orig.to_csv("df_comp_orig.csv", index=False, sep=";", encoding="UTF-8-SIG")

Muevo el archivo al repositorio de Github clonado.

In [46]:
shutil.move("df_comp_orig.csv", "mi_proyecto_git_61680/df_comp_orig.csv")

'mi_proyecto_git_61680/df_comp_orig.csv'

# Data Wranglimg - Limpieza y transformación de datos

Realizo una consulta de las columnas que tiene y confecciono un diccionario para entender los datos a analizar.

In [54]:
df_comp_orig.columns

Index(['St', 'Soc.', 'Div.', 'Cliente', 'SocGLA', 'Nombre Clientes', 'Clase',
       'Referencia', 'Nº doc.', 'Texto', 'Usuario', 'Doc.comp.', 'Ref.fact.',
       'Año', 'Ejerc./mes', 'Período', 'Fecha doc.', 'Importe en MD', 'Mon.',
       'Tp.camb.ef.', 'Importe en ML', 'ML', 'Demora', 'Compens.',
       'Importe en ML2', 'ML2', 'Fecha pago', 'Registrado',
       'Soc. Relacionada'],
      dtype='object')

###Diccionario del Dataset

St: Estado del Documento

Soc.: Sociedad Emisora

Div.: Nomenclador de proyecto por sociedad

Cliente: N° de Cliente

SocGLA: Código de sociedad relacionada

Nombre Clientes: Nombre de cliente

Clase: Nomenclador del tipo de comprobante emitido

Referencia: Número de documento

Nº doc.: Número de documento interno

Texto: Texto de referencia

Usuario: Usuario que registro al sistema

Doc.comp.: Documento interno que referencia operaciones

Ref.fact.: Número de documento interno o asociación a documentos

Año: Año de ejercicio

Ejerc./mes: Año y mes de ejercicio

Cuenta: N° de Cliente

Período: Período de ejercicio

Factura: Dato no relevante

Lib.mayor: Cuenta contable contrapartida

Cta.CP: Cuenta contable

Venc.neto: Vencimiento del pago

Status: Sin datos

Distr: Sin datos

AC: Sin datos

Rg: Sin datos

Material: Sin datos

IR: No relevante

Fecha doc.: Fecha de documento

Importe en MD: Importe en moneda de documento

Mon.: Moneda de documento

Tp.camb.ef.: Tipo de cambios de moneda extranjera con respecto a moneda local

Importe en ML: Importe en moneda local

ML: Moneda local

Impte.valor.ML2: No relevante

Venc.neto.1: No relevante

Demora: Días de vencimiento

Compens.: Fecha de compensación

Importe en ML2: Importe en dolares

ML2: Moneda dólar

ImpRetImp: Importe retenido de impuestos

ImpteExentRetImpto: Importe exento de retencion

Impte.base retenc.: Base de retención

Fe.valor: No relevante

Fecha pago: Fecha de Pago


MonPa: No relevante

Importe en MP: No relevante

Registrado: Fecha de registro del documento

Soc. Relacionada: La sociedad es relacionada o no

Elimino las columnas que no me parecen relevantes a priori

In [55]:
dropna_columns =['Cuenta', 'Factura', 'Lib.mayor', 'Cta.CP', 'Venc.neto', 'Status', 'Distr', 'AC', 'Rg', 'Material', 'IR', 'Impte.valor.ML2', 'Venc.neto.1', 'Impte.base retenc.', 'Fe.valor', 'MonPa', 'Importe en MP','ImpRetImp', 'ImpteExentRetImpto', 'Impte.base retenc.']
df_comp_orig.drop(columns=dropna_columns, inplace=True)

KeyError: "['Cuenta', 'Factura', 'Lib.mayor', 'Cta.CP', 'Venc.neto', 'Status', 'Distr', 'AC', 'Rg', 'Material', 'IR', 'Impte.valor.ML2', 'Venc.neto.1', 'Impte.base retenc.', 'Fe.valor', 'MonPa', 'Importe en MP', 'ImpRetImp', 'ImpteExentRetImpto', 'Impte.base retenc.'] not found in axis"

In [56]:
df_comp_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436866 entries, 0 to 436865
Data columns (total 29 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   St                426705 non-null  object
 1   Soc.              426705 non-null  object
 2   Div.              426705 non-null  object
 3   Cliente           426705 non-null  object
 4   SocGLA            178592 non-null  object
 5   Nombre Clientes   426695 non-null  object
 6   Clase             426705 non-null  object
 7   Referencia        390753 non-null  object
 8   Nº doc.           426705 non-null  float64
 9   Texto             349119 non-null  object
 10  Usuario           426705 non-null  object
 11  Doc.comp.         423367 non-null  float64
 12  Ref.fact.         426705 non-null  object
 13  Año               426705 non-null  float64
 14  Ejerc./mes        426705 non-null  object
 15  Período           426705 non-null  float64
 16  Fecha doc.        426705 non-null  object
 17  Importe en MD     426705 non-null  object
 18  Mon.              426705 non-null  object
 19  Tp.camb.ef.       425139 non-null  object
 20  Importe en ML     426705 non-null  object
 21  ML                426705 non-null  object
 22  Demora            426705 non-null  float64
 23  Compens.          423367 non-null  object
 24  Importe en ML2    426705 non-null  object
 25  ML2               426705 non-null  object
 26  Fecha pago        426705 non-null  object
 27  Registrado        426705 non-null  object
 28  Soc. Relacionada  426705 non-null  object
dtypes: float64(5), object(24)
memory usage: 96.7+ MB

Tomo una muestra aleatoria de 10 filas

In [61]:
df_comp_orig.sample(10)

,St,Soc.,Div.,Cliente,SocGLA,Nombre Clientes,Clase,Referencia,Nº doc.,Texto,Usuario,Doc.comp.,Ref.fact.,Año,Ejerc./mes,Período,Fecha doc.,Importe en MD,Mon.,Tp.camb.ef.,Importe en ML,ML,Demora,Compens.,Importe en ML2,ML2,Fecha pago,Registrado,Soc. Relacionada
421744,@5B\Qcompens.@,SA02,CE11,2366,NaN,Joannou & Paraskevaides () Ltd.,DR,08/NCIF/038,11000148.0,15% Fee-16 May 09 to 10 Jun 09-Inv#08/NCIF/038,TMESAJ,30000028.0,11000148,2008.0,2008/12,12.0,17/06/2009,"13.587,06",USD,"3,75","50.951,48",SAR,10.000,30/07/2009,"13.587,06",USD,20/07/2009,25/06/2009,No
101064,@5B\Qcompens.@,BR05,CO02,23,S00013,CONFAB INDUSTRIAL SOCIEDADE ANONIMA,DG,"2,01101E+13",10000002.0,COD: 000023 CONFAB INDUSTRIAL SO REF: 0090031191,TBRATL,12000373.0,10000002,2011.0,2011/04,4.0,24/10/2011,"-2.488,71",BRL,1,"-2.488,71",BRL,56.000,19/12/2011,"-1.397,91",USD,24/10/2011,26/10/2011,Si
385139,@5B\Qcompens.@,TT03,0285,1690,NaN,Petroleum Company of Trinidad and,DZ,NaN,12000007.0,Collection Invoices #221/224,TEATRD,12000007.0,12000007,2009.0,2009/02,2.0,13/08/2009,"-1.597.474,81",TTD,1,"-1.597.474,81",TTD,0.000,13/08/2009,"-253.694,98",USD,13/08/2009,27/08/2009,No
6175,@5B\Qcompens.@,01MX,M346,4790,NaN,Samsung Ingeniería Energía de,DZ,FC.A1017 SAMSUNG,12000273.0,FC.A1017 Samsung,TMXOEO,12000273.0,12000273,2011.0,2011/11,11.0,29/05/2012,"-67.055,98",MXN,1,"-67.055,98",MXN,2.000,31/05/2012,"-5.105,65",USD,29/05/2012,04/06/2012,No
178124,@5B\Qcompens.@,01MX,M102,1686,S00005,TUBOS DE ACERO DE MEXICO,DB,A-00002375,11000631.0,Comp.Mat.y Ref.fuera de Contrato Abr.14,TMXOEO,12000038.0,11000631,2013.0,2013/12,12.0,11/06/2014,"3.453.679,11",MXN,1,"3.453.679,11",MXN,36.000,31/08/2014,"265.864,22",USD,26/07/2014,11/06/2014,Si
192883,@5B\Qcompens.@,02MX,M347,278,S00129,Ingenieria y Construcción DE,DB,A-00000195,11000036.0,Servicios de personal Oct.2012,TMXOEO,12000035.0,11000036,2012.0,2012/04,4.0,31/10/2012,"728.587,93",MXN,1,"728.587,93",MXN,6.000,06/12/2012,"55.656,83",USD,30/11/2012,31/10/2012,Si
359155,@5B\Qcompens.@,IT02,TG47,3000006.0,NaN,GARBIN,DR,2100100584/2015,11000168.0,Quota leasing per auto nel mese 03/2015,CASSAGOM,12000068.0,11000168,2015.0,2015/03,3.0,30/09/2015,105,EUR,1,105,EUR,0.000,30/09/2015,"117,64",USD,30/09/2015,01/10/2015,No
178787,@5B\Qcompens.@,01MX,M602,2043,S00461,CARBONSER,DB,A-00001229,11000110.0,"Prest.servs.tarif.de Admon,Fin.y Ctrol.Proy.Se...",TMXOEO,12000063.0,11000110,2012.0,2012/03,3.0,06/09/2012,"23.200,00",USD,"13,1793","305.759,76",MXN,-7.000,28/09/2012,"23.200,00",USD,05/10/2012,06/09/2012,Si
56331,@5B\Qcompens.@,AR02,TEPA,LAR02,NaN,Cliente Interno Liquidación AR02,ET,0090003466,49000829.0,COD: 2 CLIENTE INTERNO LIQU REF: 0090003466,TEACEI,81000173.0,49000829,2007.0,2007/07,7.0,31/07/2006,"506,71",USD,"3,057","1.549,01",ARS,3.561,30/04/2016,"506,71",USD,31/07/2006,04/02/2008,No
249689,@5B\Qcompens.@,AR02,TEPA,3708,NaN,JCR SA,DB,0070A00007489,11001018.0,Alquiler de Equipos 21-09-2019 al 18-10-2019,TEALEM,12000720.0,11001018,2019.0,2019/05,5.0,05/11/2019,"9.860,32",USD,"59,7","588.661,10",ARS,4.000,09/12/2019,"9.860,32",USD,05/12/2019,07/11/2019,No

In [ ]:
date_columns = ['Fecha doc.', 'Fecha pago', 'Registrado', 'Compens.', 'Venc.neto'] # Replace with your actual column names

for col in date_columns:
    if col in df_comp_orig.columns:
        try:
            df_comp_orig[col] = pd.to_datetime(df_comp_orig[col], format='%d/%m/%Y', errors='coerce')
        except ValueError:
            try:
              df_comp_orig[col] = pd.to_datetime(df_comp_orig[col], format='%Y-%m-%d', errors='coerce')
            except ValueError:
              print(f"Could not convert column '{col}' to datetime. Check the format of the dates in this column.")

In [ ]:
date_columns = ['Año'] # Replace with your actual column names

for col in date_columns:
    if col in df_comp_orig.columns:
        try:
            df_comp_orig[col] = pd.to_datetime(df_comp_orig[col], format='%y', errors='coerce')
        except ValueError:
            try:
              df_comp_orig[col] = pd.to_datetime(df_comp_orig[col], format='%Y', errors='coerce')
            except ValueError:
              print(f"Could not convert column '{col}' to datetime. Check the format of the dates in this column.")

In [ ]:
df_comp_orig['Período'] = pd.to_numeric(df_comp_orig['Período'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['Año'] = pd.to_numeric(df_comp_orig['Año'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['Ejerc./mes'] = pd.to_numeric(df_comp_orig['Ejerc./mes'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['Demora'] = pd.to_numeric(df_comp_orig['Demora'], errors='coerce').fillna(0).astype(int)

In [ ]:
df_comp_orig['SocGLA'] = df_comp_orig['SocGLA'].astype('string')

In [ ]:
df_comp_orig['Referencia'] = df_comp_orig['Referencia'].astype('string')

In [ ]:
df_comp_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427248 entries, 0 to 427247
Data columns (total 40 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   St                    426705 non-null  object
 1   Soc.                  427013 non-null  object
 2   Div.                  426705 non-null  object
 3   Cliente               426705 non-null  object
 4   SocGLA                178592 non-null  string
 5   Nombre Clie           426695 non-null  object
 6   Clase                 426939 non-null  object
 7   Referencia            390753 non-null  string
 8   Nº doc.               426705 non-null  float64
 9   CPag                  294890 non-null  object
 10  II                    221014 non-null  object
 11  Texto                 349119 non-null  object
 12  Usuario               426705 non-null  object
 13  Doc.comp.             423367 non-null  float64
 14  Ref.fact.             426705 non-null  object
 15  Año                   427248 non-null  int64
 16  Ejerc./mes            427248 non-null  int64
 17  Período               427248 non-null  int64
 18  Lib.mayor             426705 non-null  float64
 19  Cta.CP                426705 non-null  object
 20  Clave de referencia   426705 non-null  object
 21  Fecha doc.            426703 non-null  datetime64[ns]
 22  Importe en MD         426705 non-null  object
 23  Mon.                  427013 non-null  object
 24  Tp.camb.ef.           425139 non-null  object
 25  Importe en ML         426705 non-null  object
 26  ML                    426705 non-null  object
 27  Impte.valor.ML2       426705 non-null  object
 28  Venc.neto             426703 non-null  datetime64[ns]
 29  Demora                427248 non-null  int64
 30  Compens.              423367 non-null  datetime64[ns]
 31  Importe en ML2        426705 non-null  object
 32  ML2                   426705 non-null  object
 33  Fecha pago            426703 non-null  datetime64[ns]
 34  Registrado            426705 non-null  datetime64[ns]
 35  Soc Relacionada       426705 non-null  object
 36  Nombre de la Empresa  308 non-null     object
 37  Población             308 non-null     object
 38  País                  307 non-null     object
 39  Denominación          224 non-null     object
dtypes: datetime64[ns](5), float64(3), int64(4), object(26), string(2)
memory usage: 130.4+ MB

# Análisis Exploratorio de datos

In [ ]:
df_comp_orig.sample(10)

,St,Soc.,Div.,Cliente,SocGLA,Nombre Clie,Clase,Referencia,Nº doc.,CPag,...,Compens.,Importe en ML2,ML2,Fecha pago,Registrado,Soc Relacionada,Nombre de la Empresa,Población,País,Denominación
49202,@5B\Qcompens.@,AR02,TE01,04169,<NA>,"PAN AMERICAN ENERGY, S.L., SUCURSAL",DZ,FC 8811,12000428.0,NaN,...,2020-10-23,"-142.976,31",USD,2020-10-23,2020-10-27,No,NaN,NaN,NaN,NaN
145261,@5B\Qcompens.@,CL02,GG07,00366,S00131,TECHINT CIA TECNICA INT. S.A.C.I,DZ,TEURU COBRANZA,12000024.0,INME,...,2014-09-29,115,USD,2014-08-08,2014-08-13,Si,NaN,NaN,NaN,NaN
134417,@5B\Qcompens.@,BR12,0497,02551,S03259,TERNIUM BRASIL LTDA,DR,000083,11000029.0,FF10,...,2021-04-29,"77.845,70",USD,2021-04-03,2021-03-25,Si,NaN,NaN,NaN,NaN
325759,@5B\Qcompens.@,AR02,0050,00104,S00040,TERNIUM ARGENTINA S.A.,DG,0053A00000228,10025751.0,INME,...,2020-05-01,"-166.486,23",USD,2020-04-29,2020-04-29,Si,NaN,NaN,NaN,NaN
239818,@5B\Qcompens.@,AR02,0455,175,<NA>,GENERAL ELECTRIC INTERNATIONAL INC.,DB,0070A00004432,11000535.0,FF30,...,2017-10-24,"413.336,78",USD,2017-10-25,2017-09-26,No,NaN,NaN,NaN,NaN
68335,@5B\Qcompens.@,AR10,0053,00214,<NA>,LOBERAZ S.A.,DZ,<NA>,12000137.0,NaN,...,2009-04-30,"-11,24",USD,2009-04-30,2009-05-07,No,NaN,NaN,NaN,NaN
377457,@5B\Qcompens.@,UY05,0332,00089,<NA>,INTENDENCIA MUNICIPAL DE MALDONADO,DZ,A 0000080,12000057.0,NaN,...,2015-09-07,"-86.465,59",USD,2015-09-01,2015-09-07,No,NaN,NaN,NaN,NaN
423077,@5B\Qcompens.@,UY09,0378,7037,<NA>,VERÓNICA BALADON,DR,006238,11000008.0,INME,...,2015-09-30,"1.600,00",USD,2015-09-23,2015-09-24,No,NaN,NaN,NaN,NaN
423764,@5B\Qcompens.@,UY11,0399,5189,S03408,CONSTRUCCIONES Y PRESTACIONES,DG,000043,10000001.0,INME,...,2014-09-01,-297,USD,2014-08-18,2014-08-20,Si,NaN,NaN,NaN,NaN
267591,@5B\Qcompens.@,AR10,0053,208,<NA>,DRM RECICLADOS.R.L.,DZ,<NA>,12000024.0,INME,...,2006-03-31,"-0,03",USD,2005-02-28,2005-08-25,No,NaN,NaN,NaN,NaN

# Preprocesamiento de datos

# Feature Selection

# Modelos

# Optimización de modelos

# Conclusiones Finales

In [ ]:
# prompt: quiero armar una tabla para ver la SocGLA de cada cliente

# ... (Your existing code)

# Assuming 'df_comp_orig' is your combined DataFrame

# Create the table for SocGLA by client
socgla_table = df_comp_orig.groupby('Cliente')['SocGLA'].unique().reset_index()

# Display the table
socgla_table

# ... (Rest of your code)

      Cliente            SocGLA
0           5            [<NA>]
1           9            [<NA>]
2          23          [S00013]
3          25  [S01030, S00301]
4          27    [<NA>, S00301]
...       ...               ...
10341   LUY04            [<NA>]
10342   LUY05            [<NA>]
10343   LUY07            [<NA>]
10344   LVE03            [<NA>]
10345   LVE04            [<NA>]

[10346 rows x 2 columns]

In [ ]:
socgla_table = df_comp_orig.groupby('SocGLA')['Cliente'].unique().reset_index()

In [ ]:
socgla_table

     SocGLA                             Cliente
0    B1189F  [07501, 06118, 06145, 06131, 7501]
1    B1189U               [06118, 06245, 06131]
2    B459BE  [07646, 06300, 07428, 6300, 06838]
3    B459EG   [05841, 07416, 08000, 7416, 5841]
4    B459FR               [06296, 06299, 06747]
..      ...                                 ...
273  Z01009          [01228, 1228, 4915, 06139]
274  Z01011                             [06033]
275  Z01018                             [06037]
276  Z01023                             [06091]
277  Z01028                             [06034]

[278 rows x 2 columns]